# server stacks
[submodule "server_stack/docker-compose"]
	path = server_stack/docker-compose
	url = https://github.com/vKrypto/deploy-your-code-on-docker-compose
	branch = main
[submodule "server_stack/docker-stack"]
	path = server_stack/docker-stack
	url = https://github.com/vKrypto/deploy-your-code-on-docker-stack
	branch = main

# monitoring stacks
[submodule "monitoring_stack/elk/docker-compose"]
	path = monitoring_stack/elk/docker-compose
	url = https://github.com/vKrypto/elk-monitoring-stack-with-docker-compose
	branch = main
[submodule "monitoring_stack/elk/docker-stack"]
	path = monitoring_stack/elk/docker-stack
	url = https://github.com/vKrypto/elk-monitoring-stack-with-docker-stack
	branch = main
[submodule "monitoring_stack/grafana/docker-compose"]
	path = monitoring_stack/grafana/docker-compose
	url = https://github.com/vKrypto/grafana-monitoring-stack-with-docker-compose
	branch = main
[submodule "monitoring_stack/grafana/docker-stack"]
	path = monitoring_stack/grafana/docker-stack
	url = https://github.com/vKrypto/grafana-monitoring-stack-with-docker-stack
	branch = main
